
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="default">
    <tr>
        <th>Nombre</th>
        <th>Id</th>
        <th>Id2</th>
        <th>URL</th>
        <th>Comentario</th>
    </tr>

    @foreach (var item in ViewBag.resultado)
    {
        <tr>
            <td>@item.nombre </td>

            <td>@item.id </td>

            <td>@item.id2 </td>

            <td>@item.url </td>

            <td>@item.comentario</td>

        </tr>
    }
</table>